// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #003697;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$first-blue: #b9d7ed;
$second-blue: #ebf4fb;
$third-blue: #001e54;
$fourth-blue: #7893c1;
$fifth-blue: #ecf4fc;
$sixth-blue: #c2cfe6;

$light-blue: #d7e0f0;
$dark-blue: #001e54;

// TEST CEC
$sk-black: #000c21;
$sk-darker-blue: #141a32;
$sk-dark-blue: #35417c;
$sk-medium-blue: #003697;
$sk-blue: #4378d7;
$sk-blue-purple: #4a5fa8;
$sk-medium-blue-purple: #617dbc;
$sk-light-blue-purple: #90afe0;
$sk-yellow: #e59700;
