// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #003697;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$first-blue: #B9D7ED;
$second-blue: #EBF4FB;
$third-blue: #001E54;
$fourth-blue: #7893C1;
$fifth-blue: #ECF4FC;
$sixth-blue: #C2CFE6;
$dark-blue: #001E54
