.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
    color: $dark-blue;
}
.rectangle-cards{
    padding-bottom: 7px;
}
.booking-info {
    .category-image{
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: #3B3E41;
    }
}