.banner {
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(215,224,240,1) 100%), image-url('homepage_skeasy2.png');
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 75px;

}

.banner h1 {
  margin: -10px;
  color: $blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 80px;
  font-weight: bold;
  font-family: Josefin Sans;
}

.banner p {
  font-size: 30px;
  color: $third-blue;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Inter';
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

form {
    width: 70%;
    display: flex;
  }

.search-bar {
  width: 100%;
  padding: 6px;
  padding-left: 31px;
  border-radius: 9px;
  border-style: none;
}

.btn-home {
  margin-left: 7px;
  border-radius: 11px;
}


.banner-down {
  background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), image-url('homepage_bas.png');
  background-size: cover;
  background-position: center;
  height: 745px;
}

.banner-down h1 {
  color: $dark-blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 50px;
  font-family: Josefin Sans;
  }

.container-down {
  width: 100%;
  padding-right: 19px;
  padding-left: 19px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 111px;
}

// commentaire

.product-demo {
  display: flex;
  width: 60%;
  height: 200px;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  padding-top: 65px;
    h1 {
      color: $blue;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      font-size: 80px;
      font-family: Josefin Sans;
      }
    p {
      color: $blue;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      font-size: 20px;
      font-family: Inter;
      }
}

.flex-item {
    padding: 11px;
    width: 100%;
}

// Specific CSS for your home-page


