  .resort-title{
    position: relative;
    text-align: center;
    color: $dark-blue;
    height: 191px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:before {
    content: attr(data-name);
    position: absolute;
    width: 100vw;
    left: 50%;
    font-size: 13.8vw;
    color: $fifth-blue;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: -1;
    top: 25%;
    line-height: 155px;
  }
}

.simple_form {
  width: 100%;
  display: flex;
}

.show-modal .simple_form {
    flex-direction: column;
}

form.user select {
    background-color: #e9ecef;
}

form.user .form-group:not(.hidden) {
  flex: 1 1 auto
}


.multi-drop-down {
  margin-top: 64px;
  background: transparent;
  display: flex;
}

.teacher-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
   a {
    width: 22%;
    margin-bottom: 100px;
  }
}
.teacher-and-availabilities {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .teacher-info {
    .card-img-booking {
      display: flex;
      > img {
        border-radius: 50%;
        margin-left: 17px;
        width: 110px;
        height: 110px;
        margin-top: -80px;
        border: 6px solid #D7E0F0;
      }
    }
    h5 {
    font-size: 25px;
    margin-left: 135px;
    font-family: 'Inter';
    color: #001E54;
    }
  }
  .available-spots {
    background-color: $light-blue;
    padding: 4px;
    border-radius: 18px;
    height: 30px;
      h3 {
        padding: 4px;
        font-size: 13px;
      }
  }
}

.price-info {
  margin-top: 50px;
}

.price-info {
  justify-content: space-around;
  text-align: center
}

.booking-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.booking-info {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
    .infos {
      text-align: left;
      p {
        margin-top: 0;
        margin-bottom: 10px;
      }
  }
}
book-button-booking{
  text-align: center;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

button.btn.btn-primary {
    width: 80%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none
  }
}


