  .resort-title{
    position: relative;
    text-align: center;
    color: $dark-blue;
    height: 191px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:before {
    content: attr(data-name);
    position: absolute;
    width: 100vw;
    left: 50%;
    font-size: 13.8vw;
    color: $fifth-blue;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: -1;
    top: 25%;
    line-height: 155px;
  }
}

.simple_form {
  width: 100%;
  display: flex;
}

.show-modal .simple_form {
    flex-direction: column;
}

form.user select {
    background-color: #e9ecef;
}

form.user .form-group:not(.hidden) {
  flex: 1 1 auto
}

.price-info {
  justify-content: space-around;
  text-align: center
}

.multi-drop-down {
  margin-top: 64px;
  background: transparent;
  display: flex;
}


.teacher-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
   a {
    width: 22%;
    margin-bottom: 100px;
  }
}

.price-info {
  margin-top: 50px;
}

.booking-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none
  }
}


