#users-index .custom-container {
  padding: 56px 0 0px;
}

.mountain-index {
  background-image: image-url("share-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  // padding-bottom: 100px;
  padding: 190px 0 56px;
  margin-top: -40px;
  .mountain-intro {
    h2 {
      color: white;
      margin-top: 30px;
    }
  }
}
.resort-title {
  position: relative;
  text-align: center;
  color: $dark-blue;
  height: 191px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &:before {
    content: attr(data-name);
    position: absolute;
    width: 95vw;
    left: 50%;
    font-size: 13.8vw;
    color: $fifth-blue;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: -1;
    top: 25%;
    line-height: 155px;
  }
}

.simple_form.user {
  width: 100%;
  display: flex;
  background: white;
  border-radius: 50px;
  border: none;

  #user_end_date {
    border: none;
  }
}

.show-modal .simple_form {
  flex-direction: column;
}

form.user select {
  background-color: #e9ecef;
}

form.user .form-group:not(.hidden) {
  flex: 1 1 auto;
}

.multi-drop-down {
  margin-top: 64px;
  background: transparent;
  display: flex;
}

.teacher-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  a {
    width: 22%;
    margin-bottom: 100px;
  }
  &:after {
    content: "";
    flex: 1 1 100%;
    max-width: 72%;
  }
}

.teacher-and-availabilities {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .teacher-info {
    .card-img-booking {
      display: flex;
      > img {
        border-radius: 50%;
        margin-left: 17px;
        width: 110px;
        height: 110px;
        margin-top: -80px;
        border: 6px solid #d7e0f0;
      }
    }
    h5 {
      font-size: 25px;
      margin-left: 135px;
      font-family: "Inter";
      color: #001e54;
    }
  }
}

.available-spots {
  background-color: $light-blue;
  padding: 4px;
  color: $dark-blue;
  border-radius: 18px;
  height: 30px;
  h3 {
    padding: 4px;
    font-family: inter;
    font-size: 13px;
  }
}

.price-info {
  padding: 10px;
  font-style: Josefin Sans;
  justify-content: space-around;
  text-align: center;
  display: flex;
  .tagline {
    text-align: center;
    padding: 15px;
  }
  .price-diff {
    text-align: center;
    padding: 15px;
  }
}

.category-image {
  height: 20px;
  width: 20px;
  margin-right: 10px;

  height: 36px;
  font-size: 35px;
  width: 35px;
  margin-bottom: 10px;
  margin-right: 21px;
}

.booking-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.booking-info {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  // flex-grow: 1;
  // display: flex;
  // height: 50%;
  .infos {
    text-align: left;
    p {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-left: 28px;
    }
  }
}
book-button-booking {
  text-align: center;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

button.btn.btn-primary,
button.btn.btn-success {
  width: 95%;
  border-radius: 40px;
  margin-top: 14px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.simple_form.user .form-group {
  margin: 0;
}

.simple_form.user input,
.simple_form.user select {
  background: transparent;
  border: none;
  border-left: 1px solid $light-blue;
  height: 60px;
}

#user_start_date {
  border: none;
}

.nuage {
  position: fixed;
  z-index: -1;
  &.nuage1 {
    top: 5%;
    left: 20px;
  }
  &.nuage2 {
    top: 21%;
    right: 0;
    transform: translateX(-50%);
  }
  &.nuage3 {
    top: 58%;
    left: 33%;
  }
}

.price-individual {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 15px;
  background: $sk-yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  span {
    color: white;
    font-size: 40px;
    font-weight: bold;
    // font-family: "Open Sans";
  }
}

#users-index .mountain-index img {
  border-color: $sk-blue-purple;
}

.rectangle .category-image {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: #333739;
}
