  .resort-title{
    position: relative;
    text-align: center;
    color: $dark-blue;
    height: 191px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:before {
    content: attr(data-name);
    position: absolute;
    width: 100vw;
    left: 50%;
    font-size: 13.8vw;
    color: $fifth-blue;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: -1;
    top: 25%;
    line-height: 155px;
  }
}

.simple_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price-info {
  justify-content: space-around;
  text-align: center
}

.multi-drop-down {
  margin-top: 64px;
  background: transparent;
  display: flex;
}


.teacher-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.price-info {
  margin-top: 50px;
}

.booking-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.p-2 {
  text-align: center;
}


