<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/skeasy.skeasy"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/skeasy_fr/"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/SkeasyF"><i class="fab fa-twitter"></i></a>
  </div>
</div>
