
<div class="rectangle">
    <div class="teacher-details">

        <img src="https://picsum.photos/200" alt="Avatar" class="photo-profile-teacher">

          <div class="place">
            <p> One place left </p>
          </div>

          <div class="date">
            <p> DEC 2 2020 // 9am-12pm </p>
          </div>

          <div class="level">
            <p> Beginner level </p>
          </div>

          <div class="language">
            <p> English // French </p>
          </div>

          <div class="category">
            <p> Snowboard </p>
          </div>

          <div class="teacher name">
          <h2> Patrick Balkany </h2>
          </div>
    </div>
      <div class="buttons-price">
        <div class="buttons">
          <h3> Instructor details </h3>
          <h3> Book </h3>
        </div>
        <div class="price">
          <p> 90€ </p>
        </div>
      </div>
</div>
