
<div class="rectangle">


      <div class="first-box">
        <div class="photo-and-name">
        <img src="https://picsum.photos/200" alt="Avatar" class="photo-profile-teacher">
          <div class="teacher name">
            <h2> Patrick Balkany </h2>
          </div>
          </div>
          <div class="spot">
            <p> One spot left (button) </p>
          </div>
      </div>

        <div class="second-box">
          <div class="infos">
            <p>
              <i class="fas fa-calendar-alt"></i>
              DEC 2 2020 // 9am-12pm
                </p>

            <p>
              <i class="far fa-flag"></i>
              English // French
                </p>

            <p>
              <i class="fas fa-skiing"></i>
              Ski // Beginner level
            </p>

          </div>
          <div class="price">
            <h3> 90€ </h3>
          </div>
        </div>


        <div class="third-box">
          <h3> Book (button) </h3>
        </div>
</div>
