
<div class="card">
  <div class="card-img">
    <img src="https://picsum.photos/200" alt="Avatar">
  </div>
  <div class="card-info">
    <h2> Guillaume Arsan </h2>
    <p> 5 étoiles </p>
    <p> Ski </p>
    <p> Super prof </p>
    <p> France </p>
  </div>
</div>

