<h1>SKEASY</h1>

<%= link_to "Upcoming", dashboard_path, class: "dashboard-menu-item #{'active' if params[:past] != 'true'}" %>

<%= link_to "Past", dashboard_path(past: true), class: "dashboard-menu-item #{'active' if params[:past] == 'true'}" %>

<% if @bookings.count == 0 %>
    <p> No bookings </p>
<% else %>
  <div class="d-flex flex-wrap">
    <% @bookings.each do |booking| %>
        <div class="card-product"style="height: ">
          <div class="card-product-infos">
              <%= render "shared/group_card", booking: booking %>
          </div>
        </div>
    <% end %>
  </div>
<% end %>


