<div>
  <div>
    <div class="banner">
      <div class="container">
        <h1>SKEASY</h1>
        <p>Find the best instructor for your stay</p>
      </div>
  </div>


    <h1>Skeasy Team work in progress...</h1>

  </div>
  <%= link_to "index", users_path()  %>
</div>

<%= render "shared/group_card" %>
