
      <div class="banner">
<!--       <div class="container">
 -->        <h1>SKEASY</h1>
        <p>Find the best instructor for your stay</p>
        <%= form_tag users_path(), method: :get do %>
          <%= text_field_tag "user[resort]",
          params.dig(:user,:resort),
          class: "search-bar",
          placeholder: "🔎     Type your ski resort !"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <!--       </div>
 -->    </div>
    <div class="banner-down">
      <div class="container-down">
        <h1>SKEASY as 1, 2, 3</h1>
          <div class="product-demo">
            <div class="flex-item">
              <h1>1.</h1>
              <p>Find the <strong>perfect ski instructor</strong> in only a few clicks</p>
            </div>
            <div class="flex-item">
              <h1>2.</h1>
              <p> <strong>Taylormade</strong> chosen instructors to <strong>precisely match</strong> with your needs</p>
            </div>
            <div class="flex-item">
              <h1>3.</h1>
              <p><strong>Save money </strong> by sharing your lesson. <strong>No more than 4 people</strong> with your instructor.</p>
            </div>
          </div>
      </div>
    </div>



