    <div class="banner">
<!--       <div class="container">
 -->        <h1>SKEASY</h1>
        <p>Find the best instructor for your stay</p>
        <input type="text" placeholder="Type your ski ressort !" class="search-bar">
<!--       </div>
 -->    </div>
    <div class="banner-down">
      <div class="container-down">
        <h1>SKEASY as 1, 2, 3</h1>
          <div class="product-demo">
            <div class="flex-item">
              <h1>1.</h1>
              <p>Find the <strong>perfect ski instructor</strong> in only a few clicks</p>
            </div>
            <div class="flex-item">
              <h1>2.</h1>
              <p> <strong>Taylormade</strong> chosen instructors to <strong>precisely match</strong> with your needs</p>
            </div>
            <div class="flex-item">
              <h1>3.</h1>
              <p><strong>Save money </strong> by sharing your lesson. <strong>No more than 4 people</strong> with your instructor.</p>
            </div>
          </div>
      </div>
    </div>
  <%= link_to "index", users_path()  %>

<%= render "shared/group_card" %>
