.login {
  background-color: $third-blue;
  color: white;
}
.login :hover {
  color: white;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn:not(.btn-home) {
  border-radius: 50px;
  padding: 0.5rem 2rem;
}

.btn.btn-success {
  padding: 1rem 2rem;
}
