.rectangle {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: left;
  width: 45%;
  border-radius: 2%;
  padding: 12px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: $light-gray;
}

.teacher-and-availabilities-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .teacher-info {
    h5 {
    font-size: 25px;
    // margin-left: 135px;
    font-family: 'Inter';
    color: #001E54;
    }
  }
}

.card-img-booking-dashboard {
  display: flex;
  > img {
    border-radius: 50%;
    margin-left: 17px;
    width: 110px;
    height: 110px;
    margin-top: -40px;
    border: 6px solid #D7E0F0;
  }
}

.photo-profile-teacher {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 3px #7893C1;
  margin-top: -35px;
  display: flex;
  align-items: flex-start;
  margin-right: 8px;
}

p.phone-number {
  margin-top: 0px;
  margin-bottom: 0;
  font-family: Inter;
}


.spots-and-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.teacher-details {
  display: flex;
}

.first-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  > .photo-and-name {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  }
}

.second-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  > .infos {
    text-align: left;
    margin-left: 8px;
  }
  }

button.btn.btn-success.join {
  width: 95%;
}
  btn-review{
    color: white;
  }


.language-and-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  .language{
  }
  .price {
  display: flex;
  font-size: large;
  color: grey;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Inter;
  font-size: 19px;
  }
}

span#amount {
    font-size: 31px;
    font-family: 'Inter';
    color: $dark-blue;
    font-weight: bold;
}


.status-tag {
  border-radius: 2px;
  border-top:4px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
  padding: 4px;
  border: 0px;
  border-radius: 50px;
  width: 80px;
}

.status-btn-pending{
  border: 2px solid orange;
  color: orange;
}
.status-btn-accepted {
  border: 2px solid rgb(22, 201, 37);
  color: rgb(47, 223, 23);
}

.status-btn-declined{
  color: #fff;
  background-color: #f80c0c9e;

}

.status {
  font-style: italic;
}
.third-box {

  text-align: center;
  align-items: flex-end;
}
