// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

@import "teacher_card";
@import "group_card";

@import "footer";
@import "utilities";
@import "container";
@import "form";
@import "show";
@import "button";

.pay-less {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-shared-groups {
  border-radius: 40px;
  text-align: center;


  width: 375px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  // position: absolute;
  // bottom: -32px;
  // right: 28px;
  //
}
