.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;

  .nav-item {
    cursor: pointer;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: #0f3057;
}

.nav-item {
  padding-right: 30px;
}

.navbar-nav {
  align-items: center;
  color: #0f3057;
}

.nav-link {
  color: #0f3057;
}

.navbar-nav .nav-item .nav-link {
  color: #0f3057;
}

.navbar-nav .nav-item-language {
  color: #0f3057;
  justify-content: center;
}
