.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: #167FFB
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  color:  #167FFB;
}

.navbar-nav .nav-item-language {
  color:  #167FFB;
  justify-content: center;
}
