.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-instructor {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;


  border-radius: 2%;
}

.card-instructor:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-info {
  padding: 10px;
  > h2 {
    margin-top: 25px;
  }
}

.photo-profile-other-teacher {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: flex-start;
}


.photo-profile-teacher {
  border-radius: 10%;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: flex-start;
}
