

#name {
  font-family: Josefin Sans;
  font-size: 56px;
  font-weight: 900;
  color: #001E54;
}

#greeting-message {
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
}


.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-box {

}

#other-instructors {
  font-family: Josefin Sans;
  font-size: 40px;
  font-weight: 900;
  color: #001E54;
}

.center-box {
  width: 220px;
  flex-shrink: 0;
  margin-right: 40px;
  margin-left: 40px;
}

.right-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.info-image {
  display: flex;
  padding: 8px;
}

.photo-profile-other-teacher {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-start;
}

.text-card {
  flex: 1;
}

.flag-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.cards-instructors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-instructor {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 200px;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px,
}

.cards-instructor:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.photo-profile-teacher {
  border-radius: 10%;
  width: 200px;
  height: 120px;
  display: flex;
  align-items: flex-start;
}

.stars {
  margin-top: 15px;
  margin-bottom: 35px;
}

.card-specialities {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 200px;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $light-gray;
}

.card-languages {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 200px;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $light-gray;
}

.book-button {
  margin: 5px;
}

.card-review {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left-center;
  background-color: $light-gray;
  width: 400px;
  padding: 5px;
}
