
  .title-show{
    position: relative;
    text-align: center;
    color: $dark-blue;
    height: 191px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:before {
    content: attr(data-name);
    position: absolute;
    width: 95vw;
    left: 50%;
    font-size: 13.8vw;
    color: $fifth-blue;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: -1;
    top: 25%;
    line-height: 155px;
  }
}

h2 {
  text-align: center;
}

.specialities-languages{
  h3 {
  text-align: left;
  }
  p {
  text-align: left;
  color: grey;


  }

}

#technicalskills{
  width: -webkit-fill-available;
}
#backtolist{
  color: #001e54;
  width: auto;
  position: absolute;
  top: 74px;
  left: 30px;
}

.specialtiesicon{
  width: 90px;
  text-align: center;
  flex-shrink: 0;
}


#name {
  font-family: Josefin Sans;
  font-size: 56px;
  font-weight: 900;
  color: $dark-blue;
}

#greeting-message {
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
}

// .show {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }



#other-instructors {
  font-family: Josefin Sans;
  font-size: 30px;
  font-weight: 900;
  color: $dark-blue;
}


.center-box {
  margin-top: 40px;
  flex-shrink: 0;
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
  align-items: flex-start;
}

.teacher-photo {
  display: flex;
  justify-content: space-around;
  position: relative;
  .text-photo {
    border-radius: 76px;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translateY(50%);
    color: #001E54;
    background-color: #F4F4F4;
    padding-bottom: -14px;
    width: 222px;
    p {
      font-size: 14px;
      color: grey;
      margin-bottom: 0px;
    }
    h4 {
      font-size: 20px;
      color: grey;

    }
  }
}

.right-box {
  // display: flex;
  // justify-content: space-evenly;
  // flex-direction: column;
  margin-left: 40px;
}


button.btn.btn-primary.book-button {
    width: 98%;
}

.info-image {
  display: flex;
  padding: 8px;
}

.photo-profile-other-teacher {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-start;
}

.text-card {
  flex: 1;
}

.flag-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.cards-instructors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-instructor {
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // transition: 0.3s;
  text-align: center;
  width: 200px;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  // background-color: white;
}

.cards-instructor:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pix-profile-teacher {
  border-radius: 10%;
  width: 330px;
  height: 420px;
  display: flex;
  align-items: flex-start;
}

.stars {
  margin-top: 15px;
  margin-bottom: 35px;
}

.card-specialities {
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $dark-blue;
  // background-color: $light-gray;
}

.card-languages {
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 300px;
  border-radius: 2%;
  margin-bottom: 10px;
  color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: $light-gray;
}

.specialities-languages {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.greeting-message {
  color: $dark-blue;
}

.text-photo {
  text-align: center;
  color: $dark-blue;
}

.below-box {
  color: $dark-blue;
  text-align: left;

}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card-review {
    flex: 0 0 auto;
  }
}

.book-button {
  margin: 5px;
  text-align: center;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.card-review {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  width: 350px;
  padding: 5px;
  h4 {
    color: black;
    margin-top: 2px;
    margin-bottom: -3px;
    font-size: 25px;
    font-weight: lighter;
  }
  p{
    color: grey;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 0px;
  }
}


.fa-circle {
  color: $fifth-blue;
  font-size: 20px;
  &.level {
    color: $dark-blue;
  }
}



