.card-teacher {
  box-shadow: 0 4px 8px 0 rgba(0, 30, 84, 0.2);
  transition: 0.3s;
  text-align: center;
  height: 400px;;
  border-radius: 40px 40px 4px 4px;
  background-color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 30, 84, 0.5);
  }
  .fa-star {
    color: $sk-yellow;
  }

  .category-image {
    height: 35px;
    width: 35px;
    margin: 10px auto;
  }
}
.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: -50px;
    border: 6px solid $light-blue;
  }
}

.status-btn-accepted.status-tag {
    height: 34px;
    width: 91px;
    justify-content: center;
}

.card-teachershow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  width: 180px;
  height: 200px;
  border-radius: 40px 40px 4px 4px;
  background-color: white;
  cursor: pointer;
  margin: 50px;
  margin-bottom: 80px;
  &:hover {
    background-color: #dbdde0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  }
}

.card-imgshow {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border: 6px solid $light-blue;
  }
}

.card-info {
  padding: 10px;
  > h2 {
    margin-top: 25px;
  }
}

#first-name {
  font-family: inter;
  font-weight: bold;
  font-size: 28px;
  margin-top: 0px;
  color: #001e54;
}

#last-name {
  font-family: inter;
  font-size: 17px;
  margin-top: -7px;
  font-weight: lighter;
  color: #001e54;
}

#stars {
  margin-top: -5px;
  margin-bottom: 2px;
}

#category {
  margin-top: 0px;
  font-family: inter;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

#description {
  font-style: italic;
  color: grey;
  font-size: 13px;
  text-align: center;
  padding: 0 8px;
  margin: 6px 0;
}

#resort {
  padding: 30px;
}

#languages {
  margin-top: -5px;
  font-size: 13px;
  margin-bottom: 0px;
}


.price-dashboard {
  font-size: 25px;
  font-family: 'Inter';
  color: #001E54;
  font-weight: bold;
}

// .p {
//   font-family: inter;
// }
