
.card-teacher {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 260px;
  height: 360px;
  border-radius: 40px 40px 4px 4px;
  background-color: white;
  cursor: pointer
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: -50px;
    border: 6px solid $light-blue;
  }
}

.card-teacher:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-info {
  padding: 10px;
  > h2 {
    margin-top: 25px;
  }
}

// .p {
//   font-family: inter;
// }
