
.card-teacher {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 260px;
  height: 360px;
  border-radius: 40px 40px 4px 4px;
  background-color: white;
  cursor: pointer;
  margin: 50px;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: -50px;
    border: 6px solid $light-blue;
  }
}

.card-teacher:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-info {
  padding: 10px;
  > h2 {
    margin-top: 25px;
  }
}

#first-name {
  font-family: inter;
  font-weight: bold;
  font-size: 28px;
  margin-top: 0px;
  color: #001E54;
}

#last-name {
  font-family: inter;
  font-size: 17px;
  margin-top: -7px;
  font-weight: lighter;
  color: #001E54;
}

#stars {
  margin-top: -5px;
  margin-bottom: 2px;
}

#category {
  margin-top: 0px;
  font-family: inter;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

#description {
  margin-top: 0px;
  font-style: italic;
  color: grey;
  margin-bottom: 0px;
  font-size: 13px;
  text-align: left;
  padding-left: 8px;
}

#resort {
padding: 30px;
}

#languages {
  margin-top: -5px;
  font-size: 13px;
  margin-bottom: 0px;
}


// .p {
//   font-family: inter;
// }
